body {
    background-color: black;
    position: relative;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
}

section {
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

section div {
    width: 50%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
}

.info {
    width: 100%;
    display: flex;
    justify-content: center;
}

img, span {
    width: 50%;
    animation: FadeInOut 19.5s infinite;
    opacity: 0;
}

span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-transform: uppercase;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

@keyframes FadeInOut {
    0% {
      opacity:1;
    }
    7.6% {
      opacity:1;
    }
    7.7% {
        opacity:0;
      }
    100% {
      opacity:0;
    }
  }
  
img:nth-of-type(1), span:nth-of-type(1) {
    position: absolute;
    z-index: 14;
    animation-delay: 0s;
  }
img:nth-of-type(2), span:nth-of-type(2) {
    position: absolute;
    z-index: 13;
    animation-delay: 1.5s;
  }
img:nth-of-type(3), span:nth-of-type(3) {
    position: absolute;
    z-index: 12;
    animation-delay: 3s;
  }
img:nth-of-type(4), span:nth-of-type(4) {
    position: absolute;
    z-index: 11;
    animation-delay: 4.5s;
  }
  img:nth-of-type(5), span:nth-of-type(5) {
    position: absolute;
    z-index: 10;
    animation-delay: 6s;
  }
  img:nth-of-type(6), span:nth-of-type(6) {
    position: absolute;
    z-index: 9;
    animation-delay: 7.5s;
  }
  img:nth-of-type(7), span:nth-of-type(7) {
    position: absolute;
    z-index: 8;
    animation-delay: 9s;
  }
  img:nth-of-type(8), span:nth-of-type(8) {
    position: absolute;
    z-index: 7;
    animation-delay: 10.5s;
  }
  img:nth-of-type(9), span:nth-of-type(9) {
    position: absolute;
    z-index: 6;
    animation-delay: 12s;
  }
  img:nth-of-type(10), span:nth-of-type(10) {
    position: absolute;
    z-index: 5;
    animation-delay: 13.5s;
  }
  img:nth-of-type(11), span:nth-of-type(11) {
    position: absolute;
    z-index: 4;
    animation-delay: 15s;
  }
  img:nth-of-type(12), span:nth-of-type(12) {
    position: absolute;
    z-index: 3;
    animation-delay: 16.5s;
  }
  img:nth-of-type(13), span:nth-of-type(13) {
    z-index: 2;
    animation-delay: 18s;
  }